@charset "utf-8";
/* CSS Document */
*{ margin:0; padding: 0; outline: 0; }
html{ height:100%; min-height:100%;}
body{
	background-color:#000;
	text-align:center;
	font-family:Verdana, Arial, sans-serif;
	color:#FFF;
	font-size:11px;
	background-image: url(images/white-pixel.gif) ;
	background-repeat: repeat-x;
	background-position: 0 130px;
	height:100%; min-height:100%;
	
}
li{  }
p{ margin: 4px 0 0 0;}

.titulo{ font-weight:bold;}
.precio{ font-weight: bold; font-size:13px; margin: 5px 0 0 0;}

#wrap { margin:0 auto 0 auto; width:960px; text-align:left; min-height:85%;}
#header{ height:120px; padding: 10px 0}
#idioma{ width: 200px; float:left; margin: 45px 0 0 0; color:#CCC; }
#idioma img{ margin: 5px 10px 0 0;}
#logo{ width:560px; float:left; text-align:center;}
#frase{ width:200px; float:left; font-size:20px; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; text-align:right; margin: 45px 0 0 0;}

#extras{ margin: 20px 0 0 0 }
#oferta{ width:458px; height:150px; border: 1px #FFF solid; float: left; padding: 0 10px 0 0;}

#oferta img{ margin:4px 10px 4px 4px; float:left;}
#oferta ul{ margin: 5px 0 0 0;}
#oferta li{ list-style:inside;}
.modulo{ width:223px; height:148px; border: 1px #FFF solid; float: left; margin: 0 0 0 20px;}
#contenido{ min-height: 390px;}
#galeria{ width: 374px; height:360px; float:left; height:360px; margin: 0 15px 0 0;}
#galeria #imagen_principal{ padding:4px; border: 1px #FFF solid;}
#galeria #miniaturas{ width:365px; padding: 4px 3px; border: solid 1px #FFF; margin: 5px 0 0 0; }
#galeria #miniaturas img{ padding: 0 1px;}
#info{ width: 570px;height:360px; float:left; }
#vivienda{ font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; color:#CCC; margin: 0 0 5px 0;}
#foot{ width:100%; text-align:center; border: 1px 0 0 0 #CCC solid; clear:both; border-top: #CCC solid 1px; margin: 10px 0 0 0; bottom:0; height:10%;}
#footer{ margin:0 auto 0 auto;width:960px; text-align: left; padding: 15px 0 0 0; clear:both;}
#footer ul{ float:left;}
#footer ul li{ margin: 0 10px 0 0;}
#footer p{ text-align:right;}
#footer li{display:inline;}