body 
{
background: #464646;
text-align:center;
margin-top:70px;
}
#login
{
width:332px;
height:250px;
padding:5px 0px;
/*border:1px solid #C0C0C0;*/
background-color:#FFFFFF;
padding-bottom:5px;
margin-left:auto;
margin-right:auto
}
#titulo
{
margin-top:10px;
padding-bottom:5px;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
color:#006699;
border-bottom:1px dashed #990000;
}
#label
{
width:100px;
margin-top:3px;
text-align:right;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color:#000000;
padding-top:5px;
float:left
}
#label2
{
float:left;
vertical-align:middle;
}
#label3
{
padding-left:187px;
margin-top:10px;
float:left
}
.box
{
height:18px;
margin-top:5px;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
border:1px solid #666666;
margin-left:5px;
color:#666666;
vertical-align:middle
}
.boton
{
width:70px;
height:25px;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
background-color:#464646;
border:1px solid #CCCCCC;
color:#FFFFFF
}