
/**************************************************************

	Image Menu
	v 2.2

**************************************************************/


#imageMenu {
	position: relative;
	width: 960px;
	height: 300px;
	overflow: hidden;
}



#imageMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 300px;
	width: 1000px;
	
	}

#imageMenu ul li {
	float: left;
}

#imageMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #000;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:188px;
	height: 300px;
}

#imageMenu ul li.landscapes a {
	background: url(images/landscapes.jpg) repeat scroll 0%;
	
}

#imageMenu ul li.landscapes a:hover {
	background: url(images/landscapes-over.jpg) repeat scroll 0%;
}

#imageMenu ul li.people a {
	background: url(images/landscapes.jpg) repeat scroll 0%;
}

#imageMenu ul li.people a:hover {
	background: url(images/landscapes-over.jpg) repeat scroll 0%;
}

#imageMenu ul li.nature a {
	background: url(images/landscapes.jpg) repeat scroll 0%;
}

#imageMenu ul li.nature a:hover {
	background: url(images/landscapes-over.jpg) repeat scroll 0%;
}

#imageMenu ul li.urban a {
	background: url(images/landscapes.jpg) repeat scroll 0%;
}

#imageMenu ul li.urban a:hover {
	background: url(images/landscapes-over.jpg) repeat scroll 0%;
}

#imageMenu ul li.abstract a {
	background: url(images/landscapes.jpg) repeat scroll 0%;
	/*Manteniendo el width no se muestra la última foto hasta que se hace rollover en alguna*/
	/*width: 595px;*/
}

#imageMenu ul li.abstract a:hover {
	background: url(images/landscapes-over.jpg) repeat scroll 0%;

}

.clear {
	clear: both;
}

/*************************************************************/

